#cc{
	display: flex;
	justify-content: center;
}

h1 {
	display: flex;
	justify-content: center;
}
#ccCounter{
	display: flex;
	justify-content: center;
}
#ccdiv{
	display: flex;
	justify-content: center;
}