#ccCounterDiv{
	display: flex;
	justify-content: flex-start;
}

#moneyValueText{
	display: flex;
	justify-content: space-around;
	font-family: 'Courier New', Courier, monospace;
}

#titleText{
	display: flex;
	justify-content: space-around;
	font-family: 'Courier New', Courier, monospace;
}

#techClickerDiv{
	font-family: 'Courier New', Courier, monospace;
}

button{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

#moneyValueText{
	color: darkgreen;
}

#memoryDiv{
	visibility: hidden;
}

#logicDiv{
	visibility: hidden;
}

ul {
    display: flex;
		justify-content: space-around;
}

li {
  display: inline;
	margin: 5px;
}

li a {
  color: black;
  text-decoration: none;
}

#constructionText{
	display: flex;
	justify-content: space-around;
}